<!-- footer bottom-->
<footer class="footer-bottom">
    <div class="container">
        <div class="row">

            <!-- Nav-->
            <div class="col-md-8">
                <div class="logo-footer">
                    <h2><span>O</span>rchard Harvest<span>.</span></h2>
                </div>
                <!-- Menu-->
                <ul class="menu-footer">
                    <li><a href="@Url.HomePageUrl("#slide")">HOME</a> </li>
                    <li><a href="@Url.HomePageUrl("#speaker-submission")">SPEAKER SUBMISSIONS</a></li>
                    <li><a href="@Url.HomePageUrl("#contact")">CONTACT</a></li>
                </ul>
                <!-- End Menu-->
                <!-- coopring-->
                <div class="row coopring">
                    <div class="col-md-8">
                        <p>&copy; 2014 Orchard Harvest. All Rights Reserved.  2012 - 2014</p>
                    </div>
                </div>
                <!-- End coopring-->

            </div>
            <!-- End Nav-->
            <!-- Social-->
            <div class="col-md-4">
                <!-- Menu-->
                <ul class="social">
                    <li data-toggle="tooltip" title data-original-title="Twitter">
                        <a href="http://twitter.com/orchardcms" target="_blank"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li data-toggle="tooltip" title data-original-title="Facebook">
                        <a href="http://facebook.com/orchardproject" target="_blank"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li data-toggle="tooltip" title data-original-title="Youtube">
                        <a href="https://www.youtube.com/channel/UCcEaR8HfGpPwt-GqJr_h5UQ" target="_blank"><i class="fa fa-youtube"></i></a>
                    </li>
                </ul>
                <!-- End Menu-->
            </div>
            <!-- End Social-->

        </div>

    </div>
</footer>
<!-- End footer bottom-->
