<section class="padding content-item" id="contact">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <!-- Title Heading -->
                <div class="titles-heading">
                    <div class="line"></div>
                    <h1>
                        @T("Contact Us")
                        <span>
                            <i class="fa fa-star"></i>
                            Orchard Harvest 2014
                            <i class="fa fa-star"></i>
                        </span>
                    </h1>
                </div>
                <!-- End Title Heading -->
                <div class="content-holder">
                    <p>
                        Got any questions?<br/>
                        Drop us a line.
                    </p>
                    <h2><a href="mailto:info@orchardharvest.org">info@orchardharvest.org</a></h2>
                </div>
            </div>
        </div>
    </div>
</section>
@*<!-- footer top-->
<footer class="footer-top">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h3>018000-236-5899 </h3>
            </div>
            <div class="col-md-3">
                <h3><a href="#">Support</a> - <a href="#">Sales</a></h3>
            </div>
            <div class="col-md-3">
                <h3><a href="mailto:sales@roken.com" target="_blank">sales@roken.com</a></h3>
            </div>
            <div class="col-md-3">
                <h3>24x7x365</h3>
            </div>
        </div>
    </div>
</footer>
<!-- End footer Top-->*@
<!-- footer Center-->
<footer class="footer-center">
    <div class="container">

        @*<div class="row top">
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-phone"></i>
                <h4>Talk to u</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-comment"></i>
                <h4>Live Chat</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-envelope"></i>
                <h4>Email Us</h4>
            </div>
            <div class="col-md-3 item-center">
                <span class="arrow_footer"></span>
                <i class="fa fa-thumbs-up"></i>
                <h4>Good Support</h4>
            </div>
        </div>*@

        <div class="row">
            <div class="col-md-4">
                <div class="border-right">
                    <i class="fa fa-twitter"></i>
                    <h4>Latest Tweet</h4>
                    <div class="twitter">

                    </div>
                </div>
            </div>
            @*<div class="col-md-3">
                <div class="border-right">
                    <h4>Newsletter</h4>
                    <p>Enter your e-mail and subscribe to our newsletter.</p>

                    <form id="newsletterForm" action="php/mailchip/newsletter-subscribe.php">
                        <div class="input-group">
                            <span class="input-group-addon">
                                <i class="fa fa-envelope"></i>
                            </span>
                            <input class="form-control" placeholder="Email Address" name="email" type="email" required="required">
                            <span class="input-group-btn">
                                <button class="btn btn-primary" type="submit" name="subscribe">Go!</button>
                            </span>
                        </div>
                    </form>
                    <div id="result-newsletter"></div>
                </div>
            </div>*@
            <div class="col-md-2">
                <div class="border-right">
                    <h4>Recent Links</h4>
                    <ul class="links">
                        <li><i class="fa fa-check"></i> <a href="#">Home</a></li>
                        <li><i class="fa fa-check"></i> <a href="#speaker-submission">Submissions</a></li>
                        <li><i class="fa fa-check"></i> <a href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
            @*<div class="col-md-3">
                <h4>Recent flickr</h4>
                <ul id="flickr" class="thumbs"></ul>
            </div>*@
        </div>

    </div>
</footer>
<!-- End footer Center-->