<!-- Clients -->
<section class="sponsors">
    <div class="overflow-sponsors">
        <div class="container paddings">

            <h2>We have  earned the trust of <span> 25,869 </span>customers , including  these fine  companies</h2>

            <!-- Sponsors -->
            <ul id="sponsors">

                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/1.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->
                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/6.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->
                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/3.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->
                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/4.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->
                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/5.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->
                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/6.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->
                <!-- Sponsor -->
                <li data-toggle="tooltip" title data-original-title="Tooltip Hover">
                    <a href="#"><img src="~/themes/orchardharvest.theme2014/images/sponsors/logos/4.png" alt=""></a>
                </li>
                <!-- Item Sponsor -->

            </ul>
            <!-- End Sponsors -->

            <div class="circle">
                <i class="fa fa-thumbs-up"></i>
            </div>

        </div>
    </div>
</section>
<!-- End Clients -->