<!-- Speaker Submission -->
<section class="paddings" id="speaker-submission">
    <div class="container">
        <div class="row">
            <!-- Sidebars -->
            <div class="col-md-4 sidebars">
                <aside>
                    <h4>Orchard Harvest European Conference 2013 - Amsterdam June 13 - 14 - YouTube</h4>
                    Montage video from the Orchard Harvest Conference 2013.<br />
                    <a href="//www.youtube.com/watch?v=-ZusD9jb0YQ" target="_blank">Watch now...</a>
                </aside>
                <hr class="tall">
            </div>
            <!-- End Sidebars -->
            <!-- Content Right -->
            <div class="col-md-8">
                <iframe width="750" height="390" src="//www.youtube.com/embed/-ZusD9jb0YQ" frameborder="0" allowfullscreen></iframe>
                <!-- End Tabs -->
            </div>
            <!-- End Content Right -->
        </div>
    </div>
    <!-- End Container-->
</section>
<!-- End Contact Us-->