<!-- Services Slide -->
<section class="paddings animation-services">

    <!-- Slide Services  -->
    <ul id="slide-services">

        <!-- Item Slide Services  -->
        <li>
            <div class="container">
                <div class="row">

                    <div class="col-md-6">

                        <div class="row">

                            <!-- Item Work-->
                            <div class="col-md-6">
                                <div class="item-work">
                                    <div class="hover">
                                        <img src="~/themes/orchardharvest.theme2015/images/works/1.jpg" alt="" />
                                        <a href="img/works/1.jpg" class="fancybox" title="Zoom Image"><div class="overlay"></div></a>
                                    </div>
                                    <div class="info-work">
                                        <h4>Jekas Responsive Page</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item Work-->
                            <!-- Item Work-->
                            <div class="col-md-6">
                                <div class="item-work">
                                    <div class="hover">
                                        <img src="~/themes/orchardharvest.theme2015/images/works/2.jpg" alt="" />
                                        <a href="img/works/2.jpg" class="fancybox" title="Zoom Image"><div class="overlay"></div></a>
                                    </div>
                                    <div class="info-work">
                                        <h4> Mycv - Html5</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item Work-->
                        </div>

                        <div class="row">
                            <!-- Item Work-->
                            <div class="col-md-6">
                                <div class="item-work">
                                    <div class="hover">
                                        <img src="~/themes/orchardharvest.theme2015/images/works/3.jpg" alt="" />
                                        <a href="img/works/3.jpg" class="fancybox" title="Zoom Image"><div class="overlay"></div></a>
                                    </div>
                                    <div class="info-work">
                                        <h4> MegaHost - Hosting</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item Work-->
                            <!-- Item Work-->
                            <div class="col-md-6">
                                <div class="item-work">
                                    <div class="hover">
                                        <img src="~/themes/orchardharvest.theme2015/images/works/4.jpg" alt="" />
                                        <a href="img/works/4.jpg" class="fancybox" title="Zoom Image"><div class="overlay"></div></a>
                                    </div>
                                    <div class="info-work">
                                        <h4> Studio - Landing Page</h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Item Work-->
                        </div>

                    </div>

                    <div class="col-md-6 padding-top-mini">
                        <h2 class="title-subtitle">
                            Roker is fully Retina Desing.
                            <span>The fastest way to grow your business with the leader in Technology.</span>
                        </h2>
                        <p class="delay2">Inani nominati sit eu. Te ubique cotidieque philosophia mel, vix id omnes iudico prompta. Ex usu nihil mediocritatem. Sea quod vituperata no, omittam offendit vel in. Noster voluptua luptatum id mea. Et voluptatum adversarium usu, rebum nominati recteque vix ei.</p>

                        <ul class="list">
                            <li><i class="fa fa-check"></i> Lorem ipsum dolor sit amet, consetetur sadipscing elitr.</li>
                            <li><i class="fa fa-check"></i> At vero eos et accusam et justo duo dolores et ea rebum.</li>
                            <li><i class="fa fa-check"></i> Ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
                            <li><i class="fa fa-check"></i> Stet clita kasd gubergren, no sea takimata sanctus et ea rebum.</li>
                            <li><i class="fa fa-check"></i> Ut labore et dolore magna aliquyam erat, sed diam voluptua.</li>
                        </ul>
                    </div>

                </div>
            </div>
        </li>
        <!-- End Item Slide Services  -->
        <!-- Item Slide Services  -->
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 image-animations padding-top">
                        <img src="~/themes/orchardharvest.theme2015/images/services-carousel/1.png" alt="" class="image-big">
                        <ul class="icons">
                            <li class="one delay1"><img src="~/themes/orchardharvest.theme2015/images/icons/1.png" alt=""></li>
                            <li class="two delay2"><img src="~/themes/orchardharvest.theme2015/images/icons/2.png" alt=""></li>
                            <li class="three delay1"><img src="~/themes/orchardharvest.theme2015/images/icons/3.png" alt=""></li>
                            <li class="four delay1"><img src="~/themes/orchardharvest.theme2015/images/icons/4.png" alt=""></li>
                        </ul>
                    </div>
                    <div class="col-md-7 padding-top-mini">
                        <!-- feature-element  -->
                        <ul class="feature-element">
                            <!-- Item feature-element  -->
                            <li>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="line-feature"><i class="fa fa-angle-left"></i></div>
                                        <i class="fa fa-mobile cirle-feature"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-feature">
                                            <h4>Fully Responsive</h4>
                                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- End Item feature-element  -->
                            <!-- Item feature-element  -->
                            <li>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="line-feature"><i class="fa fa-angle-left"></i></div>
                                        <i class="fa fa-hand-o-right cirle-feature"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-feature">
                                            <h4>Based On Bootstrap 3.0</h4>
                                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- End Item feature-element  -->
                            <!-- Item feature-element  -->
                            <li>
                                <div class="row">
                                    <div class="col-md-5">
                                        <div class="line-feature"><i class="fa fa-angle-left"></i></div>
                                        <i class="fa fa-bookmark cirle-feature"></i>
                                    </div>
                                    <div class="col-md-7">
                                        <div class="text-feature">
                                            <h4>Unique Design</h4>
                                            Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <!-- End Item feature-element  -->

                        </ul>
                        <!-- End feature-element  -->

                    </div>
                </div>
            </div>
        </li>
        <!-- End Item Slide Services  -->
        <!-- Item Slide Services  -->
        <li>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 padding-top-mini">
                        <h2 class="title-subtitle">
                            Roker is incredibly beautiful and fully responsive.
                            <span>The fastest way to grow your business with the leader in Technology.</span>
                        </h2>
                        <p class="delay2">Inani nominati sit eu. Te ubique cotidieque philosophia mel, vix id omnes iudico prompta. Ex usu nihil mediocritatem. Sea quod vituperata no, omittam offendit vel in. Noster voluptua luptatum id mea. Et voluptatum adversarium usu, rebum nominati recteque vix ei.</p>

                        <a class="btn btn-lg btn-primary delay4" href="#">View More</a>
                    </div>
                    <div class="col-md-6">
                        <img src="~/themes/orchardharvest.theme2015/images/works/1.jpg" alt="" class="img-responsive">
                    </div>
                </div>
            </div>
        </li>
        <!-- End Item Slide Services  -->

    </ul>
    <!-- End Slide Services  -->

</section>
<!-- End Services Slide-->