<!-- box-action -->
<section class="box-action">
    <div class="container">
        <div class="title">
            <p class="lead">@T("Early Registration Ends Monday September 13th")</p>
        </div>
        <div class="button">
            <a href="https://www.eventbrite.com/e/orchard-harvest-2015-alicante-spain-tickets-18119461798" target="_blank">REGISTER TODAY</a>
            <span class="arrow_box_action"></span>
        </div>
    </div>
</section>
<!-- End box-action-->