<!-- Works Carousel -->
<section class="paddings borders section-gray pattern-portfolios">

    <!-- Title Heading -->
    <h2 class="text-center">Recent Works</h2>
    <!-- End Title Heading -->
    <!-- Items Works -->
    <ul id="works" class="works padding-top-mini">

        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/1.jpg" alt="Image" />
                <a href="img/works/1.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Jekas - Html</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-tablet" data-toggle="tooltip" title data-original-title="Responsive Desing"></i>
                    <i class="fa fa-desktop" data-toggle="tooltip" title data-original-title="Retina Display"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/2.jpg" alt="Image" />
                <a href="img/works/2.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Mycv - Html</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-android" data-toggle="tooltip" title data-original-title="Android Support"></i>
                    <i class="fa fa-apple" data-toggle="tooltip" title data-original-title="Mac Support"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/3.jpg" alt="Image" />
                <a href="img/works/3.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Megahost - Html</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-html5" data-toggle="tooltip" title data-original-title="Html5 Compatible"></i>
                    <i class="fa fa-css3" data-toggle="tooltip" title data-original-title="Css3 Support"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/4.jpg" alt="Image" />
                <a href="img/works/4.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Studio - Landing Page</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-linux" data-toggle="tooltip" title data-original-title="linux plataform"></i>
                    <i class="fa fa-windows" data-toggle="tooltip" title data-original-title="Windows plataform"></i>
                    <i class="fa fa-apple" data-toggle="tooltip" title data-original-title="Mac plataform"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/5.jpg" alt="Image" />
                <a href="img/works/5.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Ebook - Landing Page</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-tablet" data-toggle="tooltip" title data-original-title="Responsive Desing"></i>
                    <i class="fa fa-desktop" data-toggle="tooltip" title data-original-title="Retina Display"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/6.jpg" alt="Image" />
                <a href="img/works/6.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Gotten - Landing Page</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-linux" data-toggle="tooltip" title data-original-title="Linux"></i>
                    <i class="fa fa-desktop" data-toggle="tooltip" title data-original-title="Retina Display"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/7.jpg" alt="Image" />
                <a href="img/works/7.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Vinilo - Html Page</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-linux" data-toggle="tooltip" title data-original-title="Linux"></i>
                    <i class="fa fa-apple" data-toggle="tooltip" title data-original-title="Retina Display"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->
        <!-- Item Work -->
        <li class="item-work">
            <div class="hover">
                <img src="~/themes/orchardharvest.theme2015/images/works/8.jpg" alt="Image" />
                <a href="img/works/8.jpg" class="fancybox" title="Image"><div class="overlay"></div></a>
            </div>
            <div class="info-work">
                <h4> Newhost - Hosting Page</h4>
                <p>Great, Unique and responsive template.</p>
                <div class="icons-work">
                    <i class="fa fa-html5" data-toggle="tooltip" title data-original-title="Linux"></i>
                    <i class="fa fa-css3" data-toggle="tooltip" title data-original-title="Retina Display"></i>
                </div>
            </div>
        </li>
        <!-- Item Work -->

    </ul>
    <!-- End Items Works -->

</section>
<!-- End Works Carousel-->