<!-- post-testimonials -->
<section class="paddings post-testimonials">
    <div class="container">
        <div class="row">

            <!-- Post -->
            <div class="col-md-6">
                <h3>Latest Blog Posts</h3>
                <!-- Box -->
                <ul class="box">
                    <!-- Item Post -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="date"><span><i class="fa fa-calendar-o"></i>Sep</span>15</div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-7">
                            <div class="info">
                                <h4>The Human Element</h4>
                                <p>Lorem ipsum ea cum , pri no natum clita. </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="link">
                                <a href="#" title="Read More"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <!-- End Item Post -->
                    <!-- Item Post -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="date"><span><i class="fa fa-calendar-o"></i>Sep</span>15</div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-7">
                            <div class="info">
                                <h4>The Human Element</h4>
                                <p>Lorem ipsum ea cum , pri no natum clita. </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="link">
                                <a href="#" title="Read More"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <!-- End Item Post -->
                    <!-- Item Post -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="date"><span><i class="fa fa-calendar-o"></i>Sep</span>15</div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-7">
                            <div class="info">
                                <h4>The Human Element</h4>
                                <p>Lorem ipsum ea cum , pri no natum clita. </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="link">
                                <a href="#" title="Read More"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <!-- End Item Post -->
                    <!-- Item Post -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="date"><span><i class="fa fa-calendar-o"></i>Sep</span>15</div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-7">
                            <div class="info">
                                <h4>The Human Element</h4>
                                <p>Lorem ipsum ea cum , pri no natum clita. </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="link">
                                <a href="#" title="Read More"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <!-- End Item Post -->
                    <!-- Item Post -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="date"><span><i class="fa fa-calendar-o"></i>Sep</span>15</div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-7">
                            <div class="info">
                                <h4>The Human Element</h4>
                                <p>Lorem ipsum ea cum , pri no natum clita. </p>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="link">
                                <a href="#" title="Read More"><i class="fa fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                    <!-- End Item Post -->

                </ul>
                <!-- End Box -->
            </div>
            <!-- End Post -->
            <!-- Testimonial -->
            <div class="col-md-6">
                <h3>Recent Testimonials</h3>
                <!-- Box -->
                <ul class="box">

                    <!-- Item testimonial -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="photo">
                                <img src="~/themes/orchardharvest.theme2015/images/testimonials/1.jpg" alt="">
                            </div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-9">
                            <div class="name">
                                <h4>
                                    Federic Gordon
                                    <span>Front End</span>
                                </h4>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        </div>
                    </li>
                    <!-- End Item testimonial -->
                    <!-- Item testimonial -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="photo">
                                <img src="~/themes/orchardharvest.theme2015/images/testimonials/2.jpg" alt="">
                            </div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-9">
                            <div class="name">
                                <h4>
                                    Federic Gordon
                                    <span>Front End</span>
                                </h4>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        </div>
                    </li>
                    <!-- End Item testimonial -->
                    <!-- Item testimonial -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="photo">
                                <img src="~/themes/orchardharvest.theme2015/images/testimonials/3.jpg" alt="">
                            </div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-9">
                            <div class="name">
                                <h4>
                                    Federic Gordon
                                    <span>Front End</span>
                                </h4>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        </div>
                    </li>
                    <!-- End Item testimonial -->
                    <!-- Item testimonial -->
                    <li class="row">
                        <!-- Date -->
                        <div class="col-md-3">
                            <div class="photo">
                                <img src="~/themes/orchardharvest.theme2015/images/testimonials/1.jpg" alt="">
                            </div>
                        </div>
                        <!-- End Date -->
                        <div class="col-md-9">
                            <div class="name">
                                <h4>
                                    Federic Gordon
                                    <span>Front End</span>
                                </h4>
                            </div>
                            <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
                        </div>
                    </li>
                    <!-- End Item testimonial -->

                </ul>
                <!-- End Box -->
            </div>
            <!-- End Testimonial -->

        </div>
    </div>
</section>
<!-- End post-testimonials -->