<!-- Info Head -->
<section class="info-head">
    <div class="container">
        <ul>
            <li><i class="fa fa-headphones"></i> 01800034567</li>
            <li><i class="fa fa-comment"></i> <a href="#">Live chat</a></li>
            <li>
                <ul>
                    <li class="dropdown">
                        <i class="fa fa-globe"></i>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Language<i class="fa fa-angle-down"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"><img src="~/themes/orchardharvest.theme2015/images/language/spanish.png" alt="">Spanish</a></li>
                            <li><a href="#"><img src="~/themes/orchardharvest.theme2015/images/language/english.png" alt="">English</a></li>
                            <li><a href="#"><img src="~/themes/orchardharvest.theme2015/images/language/frances.png" alt="">Frances</a></li>
                            <li><a href="#"><img src="~/themes/orchardharvest.theme2015/images/language/portugues.png" alt="">Portuguese</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</section>
<!-- Info Head -->