<!-- box-action -->
<section class="box-action">
    <div class="container">
        <div class="title">
            <p class="lead">@T("Early Registration Ends Monday December 31")</p>
        </div>
        <div class="button">
            <a href="https://www.eventbrite.com/e/orchard-harvest-2017-new-york-usa-tickets-29062296110" target="_blank">REGISTER TODAY</a>
            <span class="arrow_box_action"></span>
        </div>
    </div>
</section>
<!-- End box-action-->