<section class="paddings">
    <div class="container">
        <div class="row">
            <!-- Sidebars -->
            <div class="col-md-4 sidebars">
                <aside>
                    <h4>Orchard Harvest Conference 2014 - Redmond, WA June 09 - 11 - YouTube</h4>
                    Montage video from the Orchard Harvest Conference 2014.<br />
                    <a href="//www.youtube.com/watch?v=lOChVslNymc" target="_blank">Watch now...</a>
                </aside>
                <hr class="tall">
            </div>
            <!-- End Sidebars -->
            <!-- Content Right -->
            <div class="col-md-8">
                <iframe width="750" height="500" src="https://www.youtube.com/embed/lOChVslNymc" frameborder="0" allowfullscreen></iframe>
                <!-- End Tabs -->
            </div>
            <!-- End Content Right -->
        </div>
    </div>
    <!-- End Container-->
</section>
<!-- End Contact Us-->