<!-- Tables Pricing -->
<section class="paddings">
    <!-- Container-->
    <div class="container">
        <!-- Table United three colums-->
        <div class="row">
            <div class="col-md-12">
                <!-- Title Table United three colums-->
                @*<h2 class="title-subtitle">
                    United tables
                    <span>Suitable for promotions, Tables allows  only three columns.</span>
                </h2>*@
                <hr>
                <!-- End Title Table United three colums-->
                <!-- Tables together-->
                <ul class="tables-together padding-top">

                    <!-- Item Table together-->
                    <li class="item-table">
                        <div class="table-discount"> -20%</div>
                        <h4 class="table-header">EARLYBIRD</h4>
                        <p class="table-tagline">&nbsp;</p>
                        <div class="table-price-container">
                            <div class="table-price">
                                <span class="table-price-currency">$</span>
                                <span class="table-price-whole">99</span>
                                <span class="table-price-decimals">.00</span>
                                @*<span class="table-price-period">/mo</span>*@
                            </div>
                            @*<p class="table-price-discountinfo">Billed annually or $9.95 month-to-month</p>*@
                        </div>
                        <ul class="table-features">
                            <li class="table-features-item">
                                <strong>2</strong> Days
                            </li>
                            <li class="table-features-item">
                                <strong>20+</strong> Sessions
                            </li>
                            <li class="table-features-item">
                                <strong>150+</strong> Orchard Community Members
                            </li>
                            <li class="table-features-item">
                                Great Networking + Social Activities
                            </li>
                            <li class="table-features-item visible-phone">
                                Breakfast and Lunch included
                            </li>
                        </ul>
                        <a class="button-base button-gray" href="https://www.eventbrite.com/e/orchard-harvest-2017-new-york-usa-tickets-29062296110" target="_blank">Register Now</a>
                        @*<p class="table-cta">Order now and <em>save $35.88</em></p>*@
                    </li>
                    <!-- End Item Table together-->
                    <!-- Item Table together - highlighted -->
	                <li class="item-table table-item-highlighted">
                        <h4 class="table-header">REGULAR</h4>
                        <p class="table-tagline">&nbsp;</p>
                        <div class="table-price-container">
                            <div class="table-price">
                                <span class="table-price-currency">$</span>
                                <span class="table-price-whole">120</span>
                                <span class="table-price-decimals">.00</span>
                                <span class="table-price-period"></span>
                            </div>
                            @*<p class="table-price-discountinfo">Billed annually or $9.95 month-to-month</p>*@
                        </div>
                        <ul class="table-features">
                            <li class="table-features-item">
                                <strong>2</strong> Days
                            </li>
                            <li class="table-features-item">
                                <strong>20+</strong> Sessions
                            </li>
                            <li class="table-features-item">
                                <strong>150+</strong> Orchard Community Members
                            </li>
                            <li class="table-features-item">
                                Great Networking + Social Activities
                            </li>
                            <li class="table-features-item visible-phone">
                                Breakfast and Lunch included
                            </li>
                        </ul>
                        <a class="button-base btn-primary" href="https://www.eventbrite.com/e/orchard-harvest-2017-new-york-usa-tickets-29062296110" target="_blank">Register Now</a>
                        @*<p class="table-cta">Order now and <em>save $35.88</em></p>*@
                        <img src="~/themes/orchardharvest.theme2017/images/tables/img-pricing-shadow-left.png" alt="Shadow" class="table-shadow table-shadow-left">
	                </li>
                    <!-- End Item Table  together - highlighted-->
                    <!-- Item Table together-->
                    <li class="item-table">
                        <h4 class="table-header">ONSITE</h4>
                        <p class="table-tagline">&nbsp;</p>
                        <div class="table-price-container">
                            <div class="table-price">
                                <span class="table-price-currency">$</span>
                                <span class="table-price-whole">150</span>
                                <span class="table-price-decimals">.00</span>
                                @*<span class="table-price-period">/mo</span>*@
                            </div>
                            @*<p class="table-price-discountinfo">Billed annually or $9.95 month-to-month</p>*@
                        </div>
                        <ul class="table-features">
                            <li class="table-features-item">
                                <strong>2</strong> Days
                            </li>
                            <li class="table-features-item">
                                <strong>20+</strong> Sessions
                            </li>
                            <li class="table-features-item">
                                <strong>150+</strong> Orchard Community Members
                            </li>
                            <li class="table-features-item">
                                Great Networking + Social Activities
                            </li>
                            <li class="table-features-item visible-phone">
                                Breakfast and Lunch included
                            </li>
                        </ul>
                        <a class="button-base button-gray" href="https://www.eventbrite.com/e/orchard-harvest-2017-alicante-spain-tickets-18119461798" target="_blank">Register Now</a>
                        @*<p class="table-cta">Order now and <em>save $35.88</em></p>*@
                        <img src="~/themes/orchardharvest.theme2017/images/tables/img-pricing-shadow-right.png" alt="Shadow" class="table-shadow table-shadow-right">
                    </li>
                    <!-- End Item Table together-->

                </ul>
                <!-- End Tables together-->
            </div>
        </div>
        <!-- Table United three colums-->
    </div>
    <!-- End Container-->
</section>
<!-- End Tables Pricing-->